<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set this identifier to differentiate multiple instances of RSMassTransit -->
    <add key="InstanceId" value="" />
    <!-- MassTransit message bus -->
    <add key="BusUri" value="rabbitmq://localhost" />
    <add key="BusQueue" value="reports" />
    <add key="BusSecretName" value="guest" />
    <add key="BusSecret" value="guest" />
    <!-- Report output storage -->
    <!-- Supported StorageTypes: FileSystem, AzureStorageBlob -->
    <add key="StorageType" value="AzureStorageBlob" />
    <add key="FileSystemPath" value="C:\Reports" />
    <add key="AzureStorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureStorageContainer" value="reports" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportingServicesHttp" maxReceivedMessageSize="268435456">
          <!-- 268435456 = 256 MB maximum output size -->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="http://localhost:80/ReportServer/ReportExecution2005.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportingServicesHttp"
        contract="RSMassTransit.ReportingServices.Execution.ReportExecutionServiceSoap"
        name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <!-- Switches control the level of messages that are generated and logged. -->
    <switches>
      <add name="RSMassTransit" value="All" />
      <add name="MassTransit" value="Information,ActivityTracing" />
    </switches>
    <!-- Traces accessed from the Trace static class (deprecated) -->
    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <clear />
        <!--<add name="Console" />-->
        <add name="LogFile" />
      </listeners>
    </trace>
    <!-- Traces accessed from Log and from instances of the TraceSource class -->
    <sources>
      <source name="RSMassTransit">
        <listeners>
          <clear />
          <!--<add name="Console" />-->
          <add name="LogFile" />
        </listeners>
      </source>
      <source name="MassTransit">
        <listeners>
          <clear />
          <!--<add name="Console" />-->
          <add name="LogFile" />
        </listeners>
      </source>
    </sources>
    <!-- Listeners to the above traces -->
    <sharedListeners>
      <!--<add name="Console" type="Sharp.Logging.PrettyTextWriterTraceListener, Sharp.Logging" />-->
      <add name="LogFile" type="Sharp.Logging.PrettyTextWriterTraceListener, Sharp.Logging" initializeData="RSMassTransit.log" />
    </sharedListeners>
  </system.diagnostics>
</configuration>