# Documentation:
# https://editorconfig.org
# https://aka.ms/editorconfigdocs

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sln,*proj}]
charset = utf-8-bom

[*.sln]
indent_style = tab

[*.{*proj,config,json,jsonc,md,props,targets,xml,yaml,yml}]
indent_size = 2
