# Build Products
obj/
bin/
/dist/
/coverage/

# Visual Studio
.vs/
*.user

# Visual Studio Profiler
*.psess
*.vsp
*.vspx
*.sap

# WCF References
*.datasource

# Local Files
/Local.props
/NuGet.config

# Temporary Files
*.log
*.old
*.tmp

# Git
*.orig
*.patch
*.rej

# Windows Junk
Thumbs.db
Desktop.ini

# OS X Junk
.DS_Store
