# Build products
obj/
bin/
/dist/
/coverage/

# Visual Studio
.vs/
*.user

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# WCF references
*.datasource

# Temporary files
*.log
*.old
*.tmp

# Git
*.orig
*.patch
*.rej

# Windows junk
Thumbs.db
Desktop.ini

# macOS junk
.DS_Store
