# Build Products
obj/
bin/
/packages/
/dist/

# Visual Studio
.vs/
*.user

# WCF References
*.datasource

# Local Files
/NuGet.config

# Temporary Files
*.log
*.old
*.tmp

# Git
*.orig
*.patch
*.rej

# Windows Junk
Thumbs.db
Desktop.ini

# OS X Junk
.DS_Store
