<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set this identifier to differentiate multiple instances of RSMassTransit -->
    <add key="InstanceId" value="TestInstance" />
    <!-- MassTransit message bus -->
    <add key="BusUri" value="test://bus" />
    <add key="BusQueue" value="testqueue" />
    <add key="BusSecretName" value="testing" />
    <add key="BusSecret" value="12345" />
    <!-- Report output storage -->
    <!-- Supported StorageTypes: File, AzureBlob -->
    <add key="Storage.Type" value="AzureBlob" />
    <add key="Storage.File.Path" value="T:\TestBlobs" />
    <add key="Storage.File.ReadBufferSize" value="68000" />
    <add key="Storage.File.WriteBufferSize" value="80386" />
    <add key="Storage.AzureBlob.ConnectionString" value="Testing=true" />
    <add key="Storage.AzureBlob.ContainerName" value="testblobs" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportingServicesHttp" maxReceivedMessageSize="268435456" sendTimeout="00:00:30">
          <!-- 268435456 = 256 MB maximum output size -->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="http://example.com:80/ReportServer/ReportExecution2005.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportingServicesHttp"
        contract="RSMassTransit.ReportingServices.Execution.ReportExecutionServiceSoap"
        name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
